/*!
 * LESS version of the stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Its intention is to
 * use kmom01.css and lessify the style and use this as a wrapper for the new
 * style.
 */
/**
 * Internal self contained modules, save in directory module/.
 */
/*!
 * Stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Fill it with style
 * to style up the website so it is useable.
 */
/* Hide submenu, leave this to kmom02 */
/* .rm-desktop ul {
    display: none;
} */
/* Hide responsive/mobile menu, leave this to kmom02 */
/* .rm-navbar-max {
    display: none;
}


html {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: white;
}

.wrap-all {
    max-width: 900px;
    margin: 0 auto;
    background-color: blanchedalmond;
    padding: 1em;
    min-height: 60em;
}


.site-logo {
    display: none;
}


.site-logo-text a {
    font-size: 2em;
    text-decoration: none;
}


.region-flash img {
    width: 100%;
}


.my-navbar {
    list-style-type: none;
    display: block ruby;
}


.my-navbar li a {
    text-decoration: none;
    margin-right: 1em;
    font-size: 1.5em;
}

.figure img {
    float: right;
    width: 35%;
    padding-left: 2em;
}

.block .figure a img {
    width: 5em;
    float: left;
    padding: none;
}

.outer-wrap {
    clear: both;
    margin-top: 5em;
}

.footer-column {
    width: 33%;
    float: left;
}

.site-footer {
    text-align: center;
}
 */
/**
 * Style for the stylechooser.
 */
/**
 * Variables
 */
/**
 * Style
 */
/**
 * Base style to affect HTML elements on a general scale.
 */
/**
 * Base style to affect HTML elements on a general scale.
 */
html {
  overflow-y: scroll;
  background-color: #424242;
}
body {
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #fff;
  font: 100.01%/1 serif;
}
img {
  max-width: 100%;
}
/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */
/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */
/**
 * Variables
 */
/**
 * General layout
 */
.inner-wrap {
  max-width: 900px;
  margin: 0 auto;
}
/* Hide responsive/mobile menu, leave this to kmom02 */
.rm-navbar-max {
  display: none;
}
/* .wrap-all {
    max-width: 900px;
    margin: 0 auto;
    background-color: blanchedalmond;
    padding: 1em;
    min-height: 60em;
} */
.site-logo {
  display: none;
}
.site-logo-text a {
  font-size: 2em;
  text-decoration: none;
}
.figure img {
  float: right;
  width: 35%;
  padding-left: 2em;
}
.block .figure a img {
  width: 5em;
  float: left;
  padding: none;
}
.outer-wrap {
  clear: both;
}
/**
* Main and sidebars layout
*/
.inner-wrap-main {
  overflow: auto;
}
.region-main {
  width: 70%;
  margin-left: 10%;
  float: left;
  overflow: auto;
}
.region-main.has-sidebar {
  margin-left: 0;
}
.region-main.has-sidebar-left.has-sidebar-right {
  width: 60%;
}
.region-sidebar-left,
.region-sidebar-right {
  width: 30%;
  float: left;
}
.region-sidebar-left.has-sidebar-right,
.region-sidebar-right.has-sidebar-left {
  width: 20%;
  float: left;
}
.footer-column {
  width: 33%;
  float: left;
}
.site-footer {
  text-align: center;
}
/**
 * Layout for responsive style through media queries.
 */
@media screen and (max-width: 1500px) {
  .site-logo {
    display: none;
  }
}
/**
* Navbar
*/
@media screen and (max-width: 960px) {
  .rm-desktop a {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}
@media screen and (max-width: 700px) {
  .region-main {
    width: auto;
    float: none;
  }
  .region-main.has-sidebar-left.has-sidebar-right {
    width: auto;
  }
  .region-sidebar-left,
  .region-sidebar-right {
    width: auto;
    float: none;
  }
  .region-sidebar-left.has-sidebar-right,
  .region-sidebar-right.has-sidebar-left {
    width: auto;
    float: none;
  }
}
@media screen and (max-width: 500px) {
  .rm-desktop {
    display: none;
  }
  /* Show responsive/mobile menu */
  .rm-navbar-max {
    display: inline;
  }
}
/**
 * Show off the regions used in the website, to ease styling.
 */
.regions .outer-wrap {
  background-color: #f4e3c9;
  border: 1px solid #e3b774;
}
.regions .inner-wrap {
  background-color: #f4e0e9;
  border: 1px solid #d995b4;
}
.regions .region-header-col-1,
.regions .region-header-col-2,
.regions .region-header-col-3,
.regions .region-flash,
.regions .region-breadcrumb,
.regions .region-flash-message,
.regions .region-columns-above,
.regions .region-main,
.regions .region-after-main,
.regions .region-columns-below,
.regions .region-sidebar-left,
.regions .region-sidebar-right,
.regions .region-footer,
.regions .region-footer-column-1,
.regions .region-footer-column-2,
.regions .region-footer-column-3 {
  background-color: #b5dce1;
  border: 1px solid #6cbac4;
  color: #111;
}
/**
 * My own settings, not currently in their own module.
 */
